@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body, html, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0 }

html, body {
  /* Global Color Vars */
  --backgroundColor: #000000;
  --backgroundKindaLowOpacity: #000000dd;
  --backgroundLowOpacity: #000000aa;
  --backgroundVeryLowOpacity: #00000077;

  --primaryColor: #90d6f8;
  --primaryLowOpacity: #90d6f877;
  --primaryVeryLowOpacity: #90d6f833;

  --textColor: #ffffff;
  --textLowOpacity: #ffffff77;
  --textKindaLowOpacity: #ffffff55;
  --textVeryLowOpacity: #ffffff33;
  --textVeryLowOpacity27: #ffffff27;
  --textSuperLowOpacity: #ffffff11;
  --ghostText: #ffffff07;
  --whiffOfText: #ffffff04;

  /* Global Other Vars */
  --br: 5px;
  --brr: 6px;
  --fs: 14px;

  background-color: var(--backgroundColor);
  color: var(--textColor);
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--textLowOpacity)
}

/* fuck off, number up/down buttons on input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* fuck off, scrollbars */
*::-webkit-scrollbar { width: 0px }
